body {
    padding: 70px 100px 0px;
}
#log-window {
    margin: 100px 350px 100px;
}
.middle {
    text-align: center;
}
.clearfix {
    clear:both;
}
.navbar {
    background-color: #2186f0;
}
#navs >li> a {
    color: #fff !important;
}
#navs >li>a {
    background-color: #2186f0;
}
#nav-head > a{
    color: #fff;
}
* {
    font-family: Microsoft YaHei;
}